header{
    background-color: var(--bg1);
    width: 100%;
    padding: 20px 8%;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bg2);
}

.logo-nav img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border-radius: 25px;
}

.link-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.link-nav a{
    font-weight: 700;
}

/* .link-nav a:hover{
    color: var(--bg3);
    box-shadow: 0 0 4px 4px rgb(221,119,2);
    background-color: var(--bg3);
} */

.nav-title{
    color: var(--bg2);
    transition: all 0.3s ease-in-out;
}

.nav-title:hover{
    color: var(--bg3);
}

/* .buttons-nav{
    width: 20%;
} */

.buttons-nav a{
    padding: 8px;
    background-color: var(--bg4);
    border: var(--bg2) solid 0.8px;
    border-radius: 8px;
    color: var(--bg1);
    font-size: 15px;
    font-weight: 700;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.buttons-nav a:hover{
    background-color: var(--bg2);
    box-shadow: 0px 0px 8px 8px rgba(255,255,255,0.8);
}

.list-nav{
    max-width: 10px;
}

#mobile_btn,
#mobile_menu,
#mobile_link_nav a{
    color: var(--bg2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: none;
}

#mobile_btn a{
    color: var(--bg2);
    transition: all 03.s ease-in-out;
}

#mobile_btn a:hover{
    color: var(--bg4);
}

#mobile_link_nav a:hover{
    color: var(--bg4);
}

@media screen and (max-width: 1000px){
    
    .logo-nav img,
    .link-nav,
    .buttons-nav
    {
        display: none;
    }

    #mobile_btn,
    #mobile_menu,
    #mobile_link_nav a{
         display: block;
    }

}