#home{
    background: linear-gradient(to right, #dd7702 20%, #d18f58 80%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-home{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-home1{
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.container-home2{
    color: #000000;
}

.container-home2 img{
    height: 600px;
    width: 600px;
    padding: 50px;
}

.container-title{
padding-bottom: 20px;
}

.home-title{
    margin-bottom: 10px;
}

.home-title span{
    color: var(--bg2);
}

.home-buttons2{
    padding-top: 10px;
    text-decoration: none;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.home-buttons2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 884px){

#home{
    min-height: 400px;
    }

    .container-home{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .home-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-buttons2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* .home-buttons2 a{
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .default-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
    }

   .container-home2{
        display: none;
   } 
}