#main{
    min-height: calc(100vh - 90px);
    /* min-height: 100vh; */
}

#services{
    background-color: var(--bg1);
}

.title-services{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 36px;
    color: var(--bg2);
}

.subtitle-services{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--bg3);
}

.owl-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
}

.item{
    height: 350px;
    width: 330px;
    margin: 10px;
    background-color: var(--bg3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 0.8px solid var(--bg2);
}

.item img{
    max-height: 100px;
    max-width: 100px;
    margin-bottom: 20px;
}

.title-service{
    font-size: 18px;
    margin-bottom: 15px;
}

.descriptions{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    color: var(--bg2);
}

.buttons-card button{
    background-color: var(--bg1);
    height: 40px;
    width: 120px;
    /* padding: 1px; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0.8px solid var(--bg2);
    color: var(--bg2);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.buttons-card button:hover{
    background-color: var(--bg2);
    color: var(--bg1);
    box-shadow: 0 0 6px 6px rgba(255,255,255,0.8);
}