#testimony{
    min-height: 100vh;
    background: linear-gradient(to right, #dd7702 20%, #d18f58 80%);
}

#testimony h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 36px;
}

.container-testimony{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-testimony1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.container-testimony1 img{
    height: 450px;
    width: 450px;
}

.container-testimony2{
    width: 48%;
}

.container-testimony2 h1{
    font-size: 48px;
    color: var(--bg2);
    margin-bottom: 10px;
}

.customer-testimony{
    background-color: var(--bg2);
    margin-bottom: 30px;
    border-radius: 7px;
    border: 2px solid var(--bg1);
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    height: 150px;
    width: 100%;
}

.customer-testimony img{
    width: 95px;
    height: 95px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50px;
    border: 2px solid var(--bg1);
}

.costumer{
    width: 76%;
}

.costumer p{
    font-size: 14px;
    font-weight: 500;
}

.costumer h4{
   font-size: 16px;
}

.costumer1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.costumer1 span{
    margin-left: 50px;
    margin-right: 5px;
}

.costumer1 span i{
    color: var(--bg3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.costumer1 span i:hover{
    color: var(--bg1);
}

@media screen and (max-width: 884px){
    .container-testimony{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }

    .container-testimony1{
        margin-bottom: 40px;
        width: 100%;
    }

    .container-testimony1 img{
        width: 795px;
        height: 700px;
    }

    .container-testimony2{
        width: 90%;
    }

    .container-testimony2 h1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 70px;
        margin-bottom: 20px;
    }

    .customer-testimony{
        width: 100%;
    }
}

@media screen and (max-width: 834px){
    .container-testimony1 img{
        width: 700px;
        height: 700px;
    }
}

@media screen and (max-width: 428px){
    .container-testimony2 h1{
        font-size: 48px;
    }

    .customer-testimony{
        width: 400px;
        height: 240px;
    }

    .costumer p{
        width: 95%;
    }

    .costumer1{
        width: 90%;
    }

    .costumer1 h4{
        width: 40%;
    }

    .costumer1 span{
        margin: 0;
    }

    .container-testimony1 img{
        width: 400px;
        height: 400px;
    }

}